{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Index page</title>
<link rel="stylesheet" type="text/css" href='{%static "css/index.css" %}'>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body>
<div class="bgimg" style="background-image: url('{% static 'img/e.jfif'%}');">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
<div class="container">
<a href="#" class="navbar-brand text-warning font-weight-bold">Tech Discussion Forum</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>


<div class="collapse navbar-collapse text-center" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'category' %}">Category</a>
      </li>  
<li class="nav-item">
        <a class="nav-link text-white" href="{% url 'addquestion' %}">Add Question</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'allquestion' %}">All Questions</a>
      </li>
      
      
    

      
    </ul>

  

  </div>  
</div>
</nav>


<div class="container text-center text-white hearderset">
<h2>Welcome to Tech Discussion Forum!!</h2>
<h1>Share and grow your knowledge</h1>
<a href="{% url 'signin' %}"><button type="button" class="btn btn-success">Login</button></a>
<a href="{% url 'signup' %}"><button type="button" class="btn btn-warning">Signup</button></a>
</div>

</div>
<br>
<br>



</body>

</html>
